{% extends 'post_detail.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

{% endblock %}


{% block title %} 编辑文章 {% endblock %}
{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.title.label }} <br>
        {{ form.title }} <br><br>
        {{ form.category.label }}<br>
        {{ form.category }}<br><br>
        {{ form.body.label }}
        {{ form.body }}
        {{ form.submit }}

    </form>
{% endblock %}
    




