<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block daima %} {% endblock daima %}

    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css">
    <link href="{{ url_for('static', filename='css/x.css') }}" rel="stylesheet"/>

   {% endblock %}
</head >

<body>

<div class="page" >
    <div class="content">

{%block navbar %}



            <a class="logo" href="{{ url_for('blog.index') }}">DRQ</a>
            <div class="intro"><p><small>以梦为马，不负韶华。</small></p></div>
            <hr class="menu"/>
                <a class="menu-list" href="{{ url_for('blog.index') }}">主页</a>
                <a class="menu-list" href="{{ url_for('blog.index_life') }}">文字</a>
                {% if current_user.is_authenticated %}
                <a class="menu-list" href="{{ url_for('admin.setting') }}">设置</a>
                {% endif %}

                    <a class="menu-list" href="{{ url_for('blog.individual_resume') }}">个人简介</a>
                    <a class="menu-list" href="{{ url_for('blog.this_site') }}" target="_blank">这个网站介绍</a>
                    <a class="menu-list" href="{{ url_for('static', filename='wx.JPG') }}" target="_blank">微信</a>
                    <a class="menu-list" href="https://www.cnblogs.com/dairuiquan/" target="_blank">博客园</a>
                    <a class="menu-list" href="https://github.com/zzsealy" target="_blank">github</a>
            <hr class="menu"/>
    <div class="main">
         {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times</button>
            {{ message[1] }}
        </div>
    {% endfor %}
        <div class="article-list">
        {% block content %}
        {% endblock %}
        </div>
    </div>





{% endblock %}









    {% block footer %}  {% endblock %}




{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale('zh-cn') }}
{% endblock %}

    </div>
</div>


</body>
</html>