
a {
    color: black;
}

.nav-li {
    padding: 20%;
}

input {
    width:500px;
    height:30px;
    line-height:30px;
}

.header {
    margin-left: 22%;
}

.header .logo{
line-height:1;
border: 5px solid #eee;
padding: 10px 20px;
font-size: 30px;
display: inline-block;
margin-bottom: 10px;
}

.content{
    margin-left: 15%;
    margin-right: 15%;
}